<div id="main-component">
  <table id="user-table" class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    </thead>
    <tbody id="main-table" *ngFor="let user of users"
           (click)="onRowClick(user)">
    <tr>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>
        <button id="delete-button" class="btn btn-danger"
                (click)="onDelete(user, $event)">Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

