<button id="add-button" class="btn btn-success"
        (click)="onAdd()">Add User
</button>
<table id="user-table" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  </thead>
  <tbody *ngFor="let user of users"
         (click)="onSelect(user)"
         [class.selected]="user === selectedUser">
  <tr>
    <td>{{user.name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <button id="delete-button" class="btn btn-danger"
              (click)="onDelete(user)">Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-detail [user]="selectedUser"></app-detail>

