<div>
  <div class='wrapper'>
    <div class='container' [dragula]='"bag-one"' [dragulaModel]="openProjects">
      <app-project *ngFor="let project of openProjects" id="projectId-{{project.id}}" [attr.data-projectid]="project.id"
                   [project]="project"></app-project>
    </div>
    <div class='container' [dragula]='"bag-one"' [dragulaModel]="inProgressProjects">
      <app-project *ngFor="let project of inProgressProjects" [attr.data-projectid]="project.id"
                   [project]="project"></app-project>
    </div>
  </div>
</div>
