<div *ngIf="user" id="user-details">
  <form [formGroup]="detailForm" novalidate>
    <div class="form-group">
      <div>
        <label for="input-name">Name</label>
        <input type="text" class="form-control" id="input-name"
               [(ngModel)]="user.name" name="name"
               formControlName="name">
      </div>
      <div>
        <label for="input-username">Username</label>
        <input type="text" class="form-control" id="input-username"
               [(ngModel)]="user.username" name="username"
               formControlName="username">
      </div>
      <div>
        <label for="input-email">Email</label>
        <input type="text" class="form-control" id="input-email"
               [(ngModel)]="user.email" name="email"
               formControlName="email">
      </div>
      <div>
        <label for="input-phone">Phone</label>
        <input type="text" class="form-control" id="input-phone"
               [(ngModel)]="user.phone" name="phone"
               formControlName="phone">
      </div>
      <div *ngIf="user.address">
        <h4>Address</h4>
        <div class="form-group" formGroupName="address">
          <div>
            <label for="input-street">Street</label>
            <input type="text" class="form-control" id="input-street"
                   [(ngModel)]="user.address.street" name="street"
                   formControlName="street">
          </div>
          <div>
            <label for="input-city">City</label>
            <input type="text" class="form-control" id="input-city"
                   [(ngModel)]="user.address.city" name="city"
                   formControlName="city">
          </div>
          <div>
            <label for="input-zipcode">Zipcode</label>
            <input type="text" class="form-control" id="input-zipcode"
                   [(ngModel)]="user.address.zipcode" name="zipcode"
                   formControlName="zipcode">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
